

body {
    color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/blue-sky.png);

}

p{
    font-weight: bold;
}

#name{
    margin: 10px 0;
}

#writting-logo{
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 30px auto 0;
}



#writting-logo-game{
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 30px auto 0;
}

#main-container{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(254,187,44);
    border-radius: 10px;
    border: 1px solid rgb(255,255,255);

}

#main-container-game{
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    /* background-color: rgba(254,187,44); */
    border-radius: 10px;
}

#gameover-container{
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(255,255,255);
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(254,187,44);
    border-radius: 10px;
}

#high-score-container{
    display: flex;
    justify-content: space-evenly;
}

#scores-container{
    width: 50%;
}

#instructions{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#superman{
    width: auto;
    height: 200px;
    margin: 20px;
}

#lex {
    width:auto;
    height: 250px;
    padding:0 40px;
}

#logo {
    width: 200px;
    height: auto;
    margin: 0 auto 30px;
}

#buttons {
    margin: 0 auto;
}

table{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

th, td{
    padding: 5px;
    margin: 10px;
    width: 600px;
    text-align: center;
}


h6{
    margin: 10px auto 0;
}

